@tailwind base;
@tailwind components;
@tailwind utilities;


/* ベーススタイル設定 */
@layer base {
  html,body {
    @apply h-full;
  }
}
/* login/daily_family */
.normal-line {
  background: linear-gradient(180deg, #000 1px, transparent 1px); /* 横方向の直線 */
  background-size: 100% 1px; /* 直線のサイズと方向 */
  height: 2px; /* 直線の高さ */
}

.dashed-note {
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
                    linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */
                   100% 2.5em; /* 点線2のサイズ */
                   
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
}


/* ユーティリティをまとめたコンポーネントスタイル作成
@layer components {
  .btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
  }
} */

/* 独自のユーティリティ追加
@layer utilities {
  .bg-custom-yellow {

    background:yellow;
  }
}
*/
.toppage {
 /* background-image: url('../../src/app/components/styles/lee-DK7msqOZ9fI-unsplash.jpg');*/
  background-size: 100% auto;
  background-position: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  z-index: 10;
  align-items: center;
  margin-top: 0px;

}
.input is-large {
  width: 381.82px;
  height: 52.48px;
  left: 117.18px;
  top: 0;
  position: absolute;
  border: 1px solid black;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 2px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  //background: linear-gradient(to bottom, #FFED8B, #FCD34D);
}
.gray-label {
  background: #D9D9D9;
  /* 他のスタイルも必要に応じて追加できます */
}
.white-background {
  background-color: white;
}
.parent-container {
  text-align: center;
}

.table-container {
  display: inline-block; /* インラインブロック要素にすることで横幅がコンテンツに合わせられます */
}