@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Your Preferred Font', sans-serif;
  /* 他の全体に影響するスタイリングをここに追加 */


}
.flex-grow {

  background: url('./components/styles/lee-DK7msqOZ9fI-unsplash.jpg'), lightgray 0px -88.889px / 101.01% 111.279% no-repeat;
  background-size: cover; /* 画像を親要素に合わせてカバー */
 /* filter: brightness(90%) grayscale(10%);*/
}
.header {
  color: #0C341E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Zen Maru Gothic";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top-tooku{

  color: #0C341E;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #021B0D;
  font-family: "Zen Maru Gothic";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.mimamoriha{
color: #0C341E;
font-family: "Zen Maru Gothic";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}